body {
	background-image: url('img/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #d7d7d7;
	text-shadow: 0 0 3px black;
}

.login .message {
	color: #000!important;
	text-shadow: none!important;
}

.login form {
	background-color: inherit;
	border: none;
	box-shadow: none;
	animation: fadein 2s;
}

.login h1 a {
	background-image: url('img/logo.png');
	background-color: white;
	background-size: 100px;
	background-position: center;
	width: 100px;
	height: 100px;
	padding: 10px;
	border-radius: 25px;
	box-shadow: 0 0 5px #5556;
	animation: fadein 2s;
}

.login label[for="user_login"],
.login label[for="user_pass"] {
    display:none;
}

.login form .input {
	padding: 0.5em;
	font-size: 16px;
}

.login #user_login {
	margin: 0;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.login #user_pass {
	border-radius: 0 0 5px 5px;
}

.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: #d7d7d7;
}

#nav {
	text-align: center;
	animation: fadein 2s;
}

#backtoblog {
	display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}