body {
	background-image: url('img/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #d7d7d7;
}

.login form {
	background-color: inherit;
	border: none;
	box-shadow: none;
}

.login h1 a {
	background-image: url('img/logo.png');
	background-size: 100px;
	width: 100px;
	height: 100px;
}

label[for="user_login"],
label[for="user_pass"] {
    display:none;
}

.login input[type="text"] {
	margin: 0;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.login input[type="password"] {
	border-radius: 0 0 5px 5px;
}

.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: #d7d7d7;
}